<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>List of Books</title>
  <!-- JAVASCRIPT IMPORTS -->
  <!-- STYLESHEETS IMPORTS -->
</head>
<body>
  <h1>LIST OF BOOKS INDEX PAGE</h1>
  <% for (const bookId in books) { %>
    <% const book = books[bookId]; %>

    <a href="/books/<%=bookId%>"><p>Title: <%= book.title %></p></a>

    <p><%= book.author %></p>
    <p><%= book.title %></p>
    <p><%= book.language %></p>
    <p><%= book.year %></p>

    <form method="POST" action="books/<%= bookId%>/delete">
      <button type="submit">Delete this book</button>
    </form>

  <% } %>

  <form method="POST" action="/books">
    <label for="language">Language</label>
    <input type="text" name="language" id="language" />
    <br />
    <label for="title">Title</label>
    <input type="text" name="title" id="title" />
    <br />
    <label for="author">Author</label>
    <input type="text" name="author" id="author" />
    <br />
    <label for="year">Year</label>
    <input type="text" name="year" id="year" />

    <button type="submit">Create Book</button>
  </form>
</body>
</html>